body {
 background-color: #222;
 font-family: Arial, Helvetica, sans-serif;
 color: #999;
}

#breakOut{
    text-align: center;
    border: 1px solid #666;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}